<html>
        <head>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="/static/javascript/push.min.js"></script>
                <script type="text/javascript" src="/static/javascript/serviceworker.min.js"></script>
                <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
                <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
                              
              </head>
<title>Cue-Up - {{.Code}}</title>

<body>
    {{template "nav.tmpl.html"}}

    <div class="section_container">
        <hr>
        <h2 class="section_title">Your Unique Lobby</h2>
        <p>
            Here is your lobby code, users should enter it to join the Queue
        </p>

        <h4>{{.Code}}</h4>

        <h4>{{if .LastNotified}}Last Notified {{.LastNotified}} {{end}}</h4>
        <h4>{{.Users}}</h4>
        <hr>

        <form action="/hostgame" method="post">
            <input type="submit" value="remake queue">
        </form>
        <form action="/notify" method="post">
            <input type="submit" value="Notify Next">
        </form>

    </div>